name: 'Deploy React to GitHub Pages JT'

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: 'Build'
    #  shell: bash
      uses: actions/setup-node@v3
    - run: npm install
    - run: npm ci
    - run: npm run build --if-present

    - name: 'upload'
      uses: actions/upload-pages-artifact@v1.0.4
      with: 
        path: build

    - id: deploy
      name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
